name: Code coverage
on: [ push, pull_request ]
permissions: read-all
jobs:
    run:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
            -   name: Set up php 8.4
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
                with:
                    php-version: '8.4'
            -   name: Install dependencies
                run: composer self-update && composer install && composer dump-autoload
            -   name: Run tests and collect coverage
                run: vendor/bin/pest --coverage-clover clover.xml
            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}
                    files: clover.xml
            -   name: Upload coverage to codacy
                uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
                with:
                    project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
                    coverage-report: clover.xml
