name: "Pull Request checks"

on:
    pull_request:

permissions: read-all

jobs:
    validate-pr-title:
        name: Validate PR title
        runs-on: ubuntu-latest
        steps:
            -   uses: amannn/action-semantic-pull-request@e32d7e603df1aa1ba07e981f2a23455dee596825 # v5
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    code-analysis:
        name: Code analysis
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
            -   name: Set up php 8.4
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
                with:
                    php-version: '8.4'
            -   name: Composer check platform requirements
                run: composer check-platform-reqs
            -   name: Validate composer.json
                run: composer validate --strict
            -   name: Install dependencies
                run: composer install
            -   name: Check coding standards
                run: vendor/bin/php-cs-fixer fix --diff --dry-run --using-cache=no
                env:
                    PHP_CS_FIXER_IGNORE_ENV: 1
            -   name: Static code analysis & Architecture validation
                run: vendor/bin/phpstan analyse --memory-limit=1G -v
            -   name: Security check
                run: composer audit
            -   name: Run tests
                run: vendor/bin/pest
            -   name: Check workflow files
                uses: devops-actions/actionlint@467e2ce19b2310e93c9ffa0b50fe31f86b5a7f23 # v0.1.10
