name: Tests
on: [ push, pull_request ]
permissions: read-all
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
            -   name: Set up php 8.4
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
                with:
                    php-version: '8.4'
            -   name: Install dependencies
                run: composer self-update && composer install && composer dump-autoload
            -   name: Run tests
                run: vendor/bin/pest
